# Virtual environments
venv/
.venv/
env/
ENV/
freshGuardvenv/

# Secrets & credentials
.env
.env.*
kaggle.json

# API keys
*.pem
*.key
secrets/
credentials.json

# Presentations
*.pptx
*Presentation*.pdf
*presentation_script*.pdf
